@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tervetuloa Citybike hallintajärjestelmään</h1>
    <p>Sinun IP osoiteesi on / Your IP address is:</p>
    <p id="yourip"></p>
</div>

