@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h4>Käyttöoikeudet</h4>
<h4>Solita Citybike App</h4>
<p>
    <ul>
        <li>Stations datan omistaa HSL</li> 
        <li>Biketrips datan omistaa Citybike Finland</li>
    </ul>

    <a href="https://github.com/solita/dev-academy-2023-exercise">Lisätiedot</a>
    <a href="https://www.avoindata.fi/data/en_GB/dataset/hsl-n-kaupunkipyoraasemat/resource/a23eef3a-cc40-4608-8aa2-c730d17e8902">Lisenssi ja informaatio (Station data)</a>

    </p>

